<div class="p-fluid p-formgrid ">
    <div class="card card-w-title">
        <h4>Penerimaan Pembayaran</h4>
        <div class="p-grid">
            <div class="p-col-12 p-md-3">
                <p-panel header="Data Tagihan" [toggleable]="false">
                    <div class="p-grid">
                        <div class="p-col-12 p-md-12">
                            <label for="input">Total Tagihan</label>
                            <input type="text" [(ngModel)]="item.totalTagihan" pInputText placeholder="Total Tagihan"
                                disabled />
                        </div>
                        <div class="p-col-12 p-md-12">
                            <label class="label-required" for="input"> Tgl Bayar </label>
                            <p-calendar [(ngModel)]="item.tglBayar" [showIcon]="true" [monthNavigator]="true"
                                [yearNavigator]="true" yearRange="1980:2030" [showTime]="true" dateFormat="yy-mm-dd"
                                placeholder="Tgl Bayar" hourFormat="24" [maxDate]="maxDateValue">
                            </p-calendar>
                        </div>
                        <div class="p-col-12 p-md-12">
                            <label for="input">Total Harus Dibayar</label>
                            <input type="text" [(ngModel)]="item.TotalDibayar" pInputText
                                placeholder="Total Harus Dibayar" disabled />
                        </div>
                        <div class="p-col-12 p-md-12">
                            <label class="label-required" for="input">Cara Bayar</label>
                            <p-dropdown [options]="listCaraBayar" [(ngModel)]="item.caraBayar" [filter]="true"
                                [showClear]="true" placeholder="Cara Bayar" optionLabel="carabayar">
                            </p-dropdown>
                        </div>
                        <div class="p-col-12 p-md-12">
                            <label for="input">Terbilang</label>
                            <textarea pInputTextarea [(ngModel)]="item.Terbilang" placeholder="Terbilang"
                                disabled></textarea>
                        </div>
                        <div class="p-col-12 p-md-12">
                            <label class="label-required" for="input">Nominal</label>
                            <input type="text" [(ngModel)]="item.Nominal" pInputText placeholder="Nominal Bayar"
                                (ngModelChange)="changeNominal(item.Nominal)" />
                        </div>

                        <div class="p-col-12 p-md-12">
                            <div class="p-grid">
                               
                                <div class="p-col-12 p-md-5 p-md-offset-2">
                                    <button pButton type="submit" icon="fa fa-plus" pTooltip="Tambah Bayar"
                                        (click)="tambahBayar()" label="Tambah"></button>
                                </div>
                                <div class="p-col-12 p-md-5">
                                    <button pButton type="submit" icon="fa fa-ban" pTooltip="Batal" (click)="Batal()"
                                        label="Batal" class="p-button-danger"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-panel>
            </div>
            <div class="p-col-12 p-md-9">
                <div class="p-grid">
                    <div class="p-col-12 p-md-12">
                        <p-panel header="Daftar Bayar" [toggleable]="false">
                            <div class="p-col-12 p-md-12">
                                <p-table #dt [columns]="column" [value]="dataTable" [(selection)]="selected"
                                    styleClass="p-datatable-customers" [rowHover]="true" [rows]="20"
                                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]"
                                    [paginator]="true" scrollable="true" [pageLinks]="5" sortMode="multiple"
                                    selectionMode="single" (onRowSelect)="onRowSelect($event)">
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th *ngFor="let col of columns" pSortableColumn="{{col.field}}"
                                                style="width: {{col.width}}">
                                                {{col.header}}
                                                <p-sortIcon field="{{col.field}}"></p-sortIcon>
                                            </th>
                                            <th style="width: 80px"> # </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-columns="columns"
                                        let-rowIndex="rowIndex">
                                        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                                            <td *ngFor="let col of columns" style="width: {{col.width}}">
                                                <span *ngIf="col.isCurrency != undefined">
                                                    {{formatRupiah(rowData[col.field],'')}}
                                                </span>
                                                <span *ngIf="col.isCurrency == undefined"> {{rowData[col.field]}}</span>
                                            </td>
                                            <td style="width: 80px">
                                                <button pButton type="button" icon="pi pi-trash"
                                                    class="p-button-rounded p-button-danger p-mr-2"
                                                    pTooltip="Hapus Data" label=""
                                                    (click)="hapusItem(rowData)"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </p-panel>
                    </div>
                    <div class="p-col-12 p-md-12">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-6">
                                <p-panel header="Detail" [toggleable]="false">
                                    <div class="p-grid">
                                        <div class="p-col-12 p-md-12">
                                            <label for="input">Diterima Dari</label>
                                            <textarea pInputTextarea [(ngModel)]="item.Diterima"
                                                placeholder="Diterima Dari" disabled></textarea>
                                        </div>
                                    </div>
                                </p-panel>
                            </div>
                            <div class="p-col-12 p-md-6">
                                <p-panel header="Total Bayar" [toggleable]="false">
                                    <div class="p-grid">
                                        <div class="p-col-12 p-md-12">
                                            <label for="input">Total</label>
                                            <textarea pInputTextarea [(ngModel)]="item.Total"
                                                placeholder="Total Dibayarkan" disabled></textarea>
                                        </div>
                                    </div>
                                </p-panel>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-12">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-8"></div>
                            <div class="p-col-12 p-md-2" style="margin-top: 15px;">
                                <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
                                    rejectButtonStyleClass="p-button-text"></p-confirmDialog>
                                <button pButton type="submit" icon="fa fa-money" pTooltip="Bayar"
                                    (click)="bayarTagihan()" label="Bayar" class="p-button-success" [disabled]="isSimpan"></button>
                            </div>
                            <div class="p-col-12 p-md-2" style="margin-top: 15px;">
                                <button pButton type="submit" icon="fa fa-undo" pTooltip="Kembali" (click)="Kembali()"
                                    label="Kembali" class="p-button-danger"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
