<p-confirmDialog header="Confirmation" icon="fa fa-question-circle"></p-confirmDialog>
<div class="p-fluid p-formgrid ">
    <div class="card card-w-title">
        <h4>Resep Dokter</h4>
        <div class="p-col-12 p-md-12">
            <div class="p-grid">
                <div class="p-col-12 p-md-12">
                    <div class="p-grid">
                        <div class="p-col-12 p-md-2">
                            <label class="label" for="input">Periode Awal</label>
                            <p-calendar [(ngModel)]="item.tglAwal" [showIcon]="true" [monthNavigator]="true"
                                [yearNavigator]="true" yearRange="1980:2030" [showTime]="true" dateFormat="yy-mm-dd">
                            </p-calendar>
                        </div>
                        <div class="p-col-12 p-md-2">
                            <label class="label" for="input">Periode Akhir</label>
                            <p-calendar [(ngModel)]="item.tglAkhir" [showIcon]="true" [monthNavigator]="true"
                                [yearNavigator]="true" yearRange="1980:2030" [showTime]="true" dateFormat="yy-mm-dd">
                            </p-calendar>
                        </div>

                        <div class="p-col-12 p-md-2">
                            <label class="label" for="input">Depo</label>
                            <p-dropdown [options]="listRuanganFarmasi" [(ngModel)]="item.dataDepo" [filter]="true"
                                [showClear]="true" placeholder="Depo" optionLabel="namaruangan">
                            </p-dropdown>
                        </div>
                        <div class="p-col-12 p-md-1">
                            <label class="label" for="input">No RM </label>
                            <input type="text" [(ngModel)]="item.noRM" pInputText (keyup.enter)="cari()"
                                placeholder="No RM" />
                        </div>

                        <div class="p-col-12 p-md-2">
                            <label class="label" for="input">Nama Pasien </label>
                            <input type="text" [(ngModel)]="item.namaPasien" pInputText (keyup.enter)="cari()"
                                placeholder="Nama Pasien" />
                        </div>
                        <div class="p-col-12 p-md-2">
                            <label class="label" for="input">Status</label>
                            <p-multiSelect [options]="listStatusPengerjaan" [(ngModel)]="item.selectedStatus"
                                optionLabel="status"></p-multiSelect>
                        </div>

                        <div class="p-col-12 p-md-1" style="margin-top: 16px;">
                            <button pButton type="submit" icon="pi pi-search" pTooltip="Cari" (click)="cari()"
                                class="p-mr-1"></button>
                            <button pButton type="button" class="p-button-success" icon="pi pi-filter"
                                pTooltip="Filter Detail" (click)="filter()"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-12">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">

                <p-splitButton label="Pengerjaan" [style]="{'display':'inline-flex'}" styleClass="p-button-help p-mr-1"
                        icon="pi pi-ellipsis-v" [model]="listBtnObat" appendTo="body"
                       >
                    </p-splitButton>

                    <p-splitButton label="Cetak" styleClass="p-button-help" [style]="{'display':'inline-flex'}"
                        icon="pi pi-print" [model]="listBtnCetak" appendTo="body"
                     ></p-splitButton>
                </ng-template>

            </p-toolbar>
            <p-table #dt [columns]="column" [value]="dataTable" [(selection)]="selected"
                styleClass="p-datatable-customers" [rowHover]="true" [rows]="20" [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[5,10,25,50]" [paginator]="true" scrollable="true" [pageLinks]="5"
                sortMode="multiple" selectionMode="single">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th width="100px">
                            Aksi
                        </th>

                        <th *ngFor="let column of columns" pSortableColumn="{{column.field}}"
                            style="width: {{column.width}}">
                            {{column.header}} <p-sortIcon field="{{column.field}}"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                        <td width="100px">
                            <p-splitButton label="" styleClass="p-button-success p-ml-auto"
                                [style]="{'display':'inline-flex'}" icon="pi pi-user-edit" [model]="listBtn"
                                (onDropdownClick)="selectData(rowData)" appendTo="body"></p-splitButton>

                        </td>

                        <td *ngFor="let column of columns" style="width: {{column.width}}">
                        
                            <span class="{{rowData.class}}" *ngIf="column.isTag == true"> {{rowData[column.field]}}</span>
                            <span  *ngIf="column.isTag != true"> {{rowData[column.field]}}</span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="p-col-12 p-md-12">
            <div class="p-grid">

            </div>
        </div>
        <!-- <div class="p-col-12 p-md-12">
            <div class="p-grid">
                <div class="p-col-12 p-md-2" style="margin-top:10px">
                    <button pButton type="submit" icon="fa fa-check-square-o" pTooltip="Verifikasi Order"
                        (click)="verifikasiOrder()" label="Verifikasi"></button>
                </div>
                <div class="p-col-12 p-md-2" style="margin-top:10px">
                    <button pButton type="submit" icon="fa fa-info-circle" pTooltip="Detail Order"
                        (click)="detailOrder()" label="Detail Order"></button>
                </div>
                <div class="p-col-12 p-md-2" style="margin-top:10px">
                    <button pButton type="submit" icon="fa fa-info-circle" pTooltip="Detail Verifikasi Order"
                        (click)="detailVerifikasi()" label="Detail Verifikasi"></button>
                </div>
                <div class="p-col-12 p-md-2" style="margin-top:10px">
              
                    <button pButton type="submit" icon="fa fa-ban" class="p-button p-button-danger p-mr-2"
                        pTooltip="Batal Verifikasi" (click)="batalVerifikasi()" label="Batal Verifikasi"></button>
                </div>
                <div class="p-col-12 p-md-2" style="margin-top:10px">
                    <p-splitButton label="Pengerjaan" styleClass="p-button-help" icon="pi pi-ellipsis-v"
                        [model]="listBtnObat"></p-splitButton>
                </div>
                <div class="p-col-12 p-md-2" style="margin-top:10px">
                    <p-splitButton label="Cetak" styleClass="p-button-help" icon="pi pi-ellipsis-v"
                        [model]="listBtnCetak"></p-splitButton>
                </div>
            </div>
        </div> -->
    </div>
</div>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
<p-dialog header="Detail Order" [(visible)]="pop_detailOrder" [modal]="true" [maximizable]="true" [draggable]="true"
    [resizable]="true" [style]="{width: '1000px', minWidth: '1000px'}" [contentStyle]="{minHeight: '280px'}">
    <p-panel header="Data Order" [toggleable]="false">
        <div class="p-fluid p-formgrid ">
            <div class="p-col-12 p-md-12">
                <div class="p-grid">
                    <div class="p-col-12 p-md-12">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-4">
                                <label class="label" for="input">Tgl Order</label>
                                <input type="text" [(ngModel)]="item.order.tglorder" pInputText placeholder="Tgl Order"
                                    appendTo="body" disabled />
                            </div>
                            <div class="p-col-12 p-md-4">
                                <label class="label" for="input">Nomor Order</label>
                                <input type="text" [(ngModel)]="item.order.noorder" pInputText placeholder="No Order"
                                    appendTo="body" disabled />
                            </div>
                            <div class="p-col-12 p-md-4">
                                <label class="label" for="input">Pengorder</label>
                                <input type="text" [(ngModel)]="item.order.namalengkap" pInputText
                                    placeholder="Pengorder" appendTo="body" disabled />
                            </div>
                            <div class="p-col-12 p-md-4">
                                <label class="label" for="input">Nama Pasien</label>
                                <input type="text" [(ngModel)]="item.order.namapasien" pInputText
                                    placeholder="Nama Pasien" appendTo="body" disabled />
                            </div>
                            <div class="p-col-12 p-md-4">
                                <label class="label" for="input">Ruang Rawat</label>
                                <input type="text" [(ngModel)]="item.order.namaruanganrawat" pInputText
                                    placeholder="Ruang Rawat" appendTo="body" disabled />
                            </div>
                            <div class="p-col-12 p-md-4">
                                <label class="label" for="input">Depo Tujuan</label>
                                <input type="text" [(ngModel)]="item.order.namaruangan" pInputText
                                    placeholder="Depo Tujuan" appendTo="body" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-12" style="margin-top: 10px;">
                        <p-table #dt [columns]="columnDo" [value]="dataTableDo" styleClass="p-datatable-customers"
                            [rowHover]="true" [rows]="20" [showCurrentPageReport]="true"
                            [rowsPerPageOptions]="[5,10,25,50]" [paginator]="true" scrollable="true" [pageLinks]="5"
                            sortMode="multiple">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns" pSortableColumn="{{col.field}}"
                                        style="width: {{col.width}}">
                                        {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                                <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                                    <td *ngFor="let col of columns" style="width: {{col.width}}">
                                        {{rowData[col.field]}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </p-panel>
</p-dialog>
<p-dialog header="Detail Verifikasi" [(visible)]="pop_detailVerifikasi" [modal]="true" [maximizable]="true"
    [draggable]="true" [resizable]="true" [style]="{width: '1200px', minWidth: '1200px'}"
    [contentStyle]="{minHeight: '280px'}">
    <p-panel header="Data Verifikasi" [toggleable]="false">
        <div class="p-fluid p-formgrid ">
            <div class="p-col-12 p-md-12">
                <div class="p-grid">
                    <div class="p-col-12 p-md-12">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-4">
                                <label class="label" for="input">Tgl Order</label>
                                <input type="text" [(ngModel)]="item.order.tglorder" pInputText placeholder="Tgl Order"
                                    appendTo="body" disabled />
                            </div>
                            <div class="p-col-12 p-md-4">
                                <label class="label" for="input">Nomor Order</label>
                                <input type="text" [(ngModel)]="item.order.noorder" pInputText placeholder="No Order"
                                    appendTo="body" disabled />
                            </div>
                            <div class="p-col-12 p-md-4">
                                <label class="label" for="input">Pengorder</label>
                                <input type="text" [(ngModel)]="item.order.namalengkap" pInputText
                                    placeholder="Pengorder" appendTo="body" disabled />
                            </div>
                            <div class="p-col-12 p-md-4">
                                <label class="label" for="input">Nama Pasien</label>
                                <input type="text" [(ngModel)]="item.order.namapasien" pInputText
                                    placeholder="Nama Pasien" appendTo="body" disabled />
                            </div>
                            <div class="p-col-12 p-md-4">
                                <label class="label" for="input">Ruang Rawat</label>
                                <input type="text" [(ngModel)]="item.order.namaruanganrawat" pInputText
                                    placeholder="Ruang Rawat" appendTo="body" disabled />
                            </div>
                            <div class="p-col-12 p-md-4">
                                <label class="label" for="input">Depo Tujuan</label>
                                <input type="text" [(ngModel)]="item.order.namaruangan" pInputText
                                    placeholder="Depo Tujuan" appendTo="body" disabled />
                            </div>
                            <div class="p-col-12 p-md-4">
                                <label class="label" for="input">Tgl Resep</label>
                                <input type="text" [(ngModel)]="item.order.tglresep" pInputText placeholder="Tgl Resep"
                                    appendTo="body" disabled />
                            </div>
                            <div class="p-col-12 p-md-4">
                                <label class="label" for="input">Nomor Resep</label>
                                <input type="text" [(ngModel)]="item.order.noresep" pInputText placeholder="No Resep"
                                    appendTo="body" disabled />
                            </div>
                            <div class="p-col-12 p-md-4">
                                <label class="label" for="input">No Antrian</label>
                                <input type="text" [(ngModel)]="item.order.noantri" pInputText placeholder="No Antrian"
                                    appendTo="body" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-12" style="margin-top: 10px;">
                        <p-table #dt [columns]="columnDo" [value]="dataTableDo" styleClass="p-datatable-customers"
                            [rowHover]="true" [rows]="20" [showCurrentPageReport]="true"
                            [rowsPerPageOptions]="[5,10,25,50]" [paginator]="true" scrollable="true" [pageLinks]="5"
                            sortMode="multiple">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns" pSortableColumn="{{col.field}}"
                                        style="width: {{col.width}}">
                                        {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                                <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                                    <td *ngFor="let col of columns" style="width: {{col.width}}">
                                        {{rowData[col.field]}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </p-panel>
</p-dialog>
<p-dialog header="PenyerahanObat" [(visible)]="pop_penyerahanObat" [modal]="true" [maximizable]="true"
    [draggable]="true" [resizable]="true" [style]="{width: '820px', minWidth: '820px'}"
    [contentStyle]="{minHeight: '100px'}">
    <p-panel header="Penyerahan Obat" [toggleable]="false">
        <div class="p-fluid p-formgrid ">
            <div class="p-col-12 p-md-12">
                <div class="p-grid">
                    <div class="p-col-12 p-md-3">
                        <label class="label" for="input">Tgl Ambil</label>
                        <p-calendar [(ngModel)]="item.tglAmbil" [showIcon]="true" [monthNavigator]="true"
                            [yearNavigator]="true" yearRange="1980:2030" [showTime]="true" dateFormat="yy-mm-dd">
                        </p-calendar>
                    </div>
                    <div class="p-col-12 p-md-5">
                        <label class="label" for="input">Nama Pengambil</label>
                        <input type="text" [(ngModel)]="item.namapengambil" pInputText placeholder="Nama Pengambil"
                            appendTo="body" />
                    </div>
                    <div class="p-col-12 p-md-2" style="margin-top: 15px;">
                        <button pButton type="submit" icon="fa fa-floppy-o" pTooltip="Simpan Penyerahan Obat"
                            (click)="simpanAmbilObat()" label="Simpan"></button>
                    </div>
                    <div class="p-col-12 p-md-2" style="margin-top: 15px;">
                        <button pButton type="submit" icon="fa fa-ban" pTooltip="Batal Penyerahan Obat"
                            (click)="batalAmbilObat()" label="Batal" style="background-color: red;"></button>
                    </div>
                </div>
            </div>
        </div>
    </p-panel>
</p-dialog>
<p-dialog header="Filter" [(visible)]="popFilter" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
    [draggable]="false" [resizable]="true">
    <div class="p-fluid p-formgrid ">
        <div class="p-grid">
            <div class="p-col-12 p-md-3">
                <label class="label" for="input">Ruangan</label>
                <p-dropdown [options]="listRuangan" [(ngModel)]="item.dataRuangan" [filter]="true" [showClear]="true"
                    placeholder="Ruangan" optionLabel="namaruangan" appendTo="body"></p-dropdown>
            </div>
            <div class="p-col-12 p-md-3">
                <label class="label" for="input">No Order</label>
                <input type="text" [(ngModel)]="item.NoOrder" pInputText (keyup.enter)="cari()"
                    placeholder="No Order" />
            </div>
            <div class="p-col-12 p-md-3">
                <label class="label" for="input">Noregistrasi</label>
                <input type="text" [(ngModel)]="item.Noregistrasi" pInputText (keyup.enter)="cari()"
                    placeholder="Noregistrasi" />
            </div>

            <div class="p-col-12 p-md-2">
                <label class="label" for="input">jml Rows</label>
                <input type="text" [(ngModel)]="item.jmlRows" pInputText (keyup.enter)="cari()"
                    placeholder="Jml Rows" />
            </div>

        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-filter" (click)="cariFilter()" label="Filter" class="p-button-success">
        </p-button>
        <p-button icon="pi pi-close" (click)="clearFilter()" label="Clear" styleClass="p-button-text">
        </p-button>
    </ng-template>
</p-dialog>
