<div class="login-body">
    <div class="login-panel p-fluid">
        <div class="p-grid login-container" style="padding-bottom: 20px;">
            <div class="p-col-12 logo-container">
                <a class="morpheus-logo-link" href="dashboard.html">
                    <img src="assets/layout/images/morpheus-logo-green.svg" class="morpheus-logo" />
                    <span class="morpheus-logo-text">
                            morpheus
                        </span>
                </a>
            </div>
            <div class="p-col-12">
                <input type="text" autocomplete="off" pInputText placeholder="Username">
            </div>
            <div class="p-col-12">
                <input type="password" autocomplete="off" pInputText placeholder="Password">
            </div>
            <div class="p-col-12 chkbox-container">
                <input type="checkbox" id="remember-me" />
                <label for="remember-me">Remember Me</label>
            </div>
            <div class="p-col-12 button-container">
                <button type="button" pButton label="Sign In" icon="pi pi-user" class="p-button-success p-button-raised"></button>
            </div>
        </div>

        <div class="stripe"></div>
        <p style="margin-left: -17px;">Don't you have an account? <a href="#"> Register here </a></p>
        <div class="stripe"></div>

        <div class="p-grid login-container" style="padding-top: 10px;">
            <div class="p-col-12">
                <h2>Social Login</h2>
            </div>
            <div class="p-col-12 button-container">
                <button type="button" pButton label="Facebook" icon="pi pi-facebook" class="facebook-btn p-button-raised"></button>
            </div>
            <div class="p-col-12 button-container">
                <button type="button" pButton label="Twitter" icon="pi pi-twitter" class="twitter-btn p-button-raised"></button>
            </div>
        </div>
    </div>
</div>
