<div class="p-fluid p-formgrid ">
    <div class="card card-w-title">
        <h4>Map Paket</h4>
        <div class="p-grid">
            <div class="p-col-12 p-md-12">
                <p-tabView (onChange)="handleChangeTab($event)">
                    <p-tabPanel header="Daftar Mapping" leftIcon="fa fa-users">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-8 p-md-offset-2">
                                <div class="p-grid">
                                    <div class="p-col-12 p-md-4">
                                        <label class="label" for="input">Nama Paket</label>
                                        <p-dropdown [options]="d_Paket" [(ngModel)]="item.qRuangn" [filter]="true"
                                            [showClear]="true" placeholder="Nama Paket" optionLabel="namapaket">
                                        </p-dropdown>
                                    </div>
                                    <div class="p-col-12 p-md-4">
                                        <label class="label" for="input">Nama Pelayanan </label>
                                        <input type="text" [(ngModel)]="item.qProduk" pInputText
                                            placeholder="Nama Pelayanan " />
                                    </div>
                                    <!-- <div class="p-col-12 p-md-1">
                                    <label class="label" for="input">Rows </label>
                                    <input type="text" [(ngModel)]="item.limit" pInputText placeholder="Rows " />
                                </div> -->
                                    <div class="p-col-12 p-md-1" style="margin-top: 16px;">
                                        <button pButton type="submit" icon="pi pi-search" pTooltip="Cari"
                                            (click)="cari()"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="p-col-12 p-md-8 p-md-offset-2">
                                <p-table #dt2 [columns]="column" [value]="dataSource" styleClass="p-datatable-customers"
                                    [rowHover]="true" [rows]="20" [showCurrentPageReport]="true"
                                    [rowsPerPageOptions]="[5,10,25,50]" [paginator]="true" scrollable="true"
                                    [pageLinks]="5" sortMode="multiple" dataKey="paketidfk"
                                    [globalFilterFields]="['namapaket']" selectionMode="single">

                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th style="width: 80px"></th>
                                            <th *ngFor="let col of columns" pSortableColumn="{{col.field}}"
                                                style="width: {{col.width}}">
                                                {{col.header}}
                                                <p-sortIcon field="{{col.field}}">
                                                </p-sortIcon>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-columns="columns"
                                        let-rowIndex="rowIndex" let-expanded="expanded">
                                        <tr>
                                            <td style="width: 80px">
                                                <button type="button" pButton pRipple [pRowToggler]="rowData"
                                                    class="p-button-text p-button-rounded p-button-plain p-mr-2"
                                                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                                                <button pButton type="button" icon="pi pi-trash"
                                                    class="p-button-rounded p-button-danger p-mr-2"
                                                    pTooltip="Hapus Paket" label=""
                                                    (click)="hapusRow(rowData)"></button>
                                            </td>
                                            <td *ngFor="let col of columns" style="width: {{col.width}}">
                                                <span *ngIf="col.isCurrency != undefined">
                                                    {{formatRupiah(rowData[col.field],'')}}</span>
                                                <span *ngIf="col.isCurrency == undefined"> {{rowData[col.field]}}</span>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="rowexpansion" let-product>
                                        <tr>
                                            <td colspan="4">
                                                <div class="p-p-3">
                                                    <p-table [value]="product.details" dataKey="paketidfk">
                                                        <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 80px"></th>
                                            <th>Nama Layanan</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-order>
                                        <tr>
                                            <td style="width: 80px">

                                                <button pButton type="button" icon="pi pi-trash"
                                                    class="p-button-rounded p-button-danger p-mr-2"
                                                    pTooltip="Hapus Layanan" label=""
                                                    (click)="hapusRowD(order)"></button>
                                            </td>
                                            <td>{{order.namaproduk}}</td>
                                        </tr>
                                    </ng-template>

                                </p-table>
                            </div>
                            </td>
                            </tr>
                            </ng-template>
                            </p-table>
                        </div>
            </div>
            </p-tabPanel>
            <p-tabPanel header="Mapping Paket" leftIcon="pi pi-sitemap">
                <div class="p-grid">
                    <div class="p-col-12 p-md-12">
                        <div class="p-grid">

                            <div class="p-col-12 p-md-2">
                                <label class="label" for="input">Paket</label>
                                <p-dropdown [options]="d_Paket" [(ngModel)]="item.paket" [filter]="true"
                                    [showClear]="true" placeholder="Paket" optionLabel="namapaket"
                                    (onChange)="changeMap($event)"></p-dropdown>
                            </div>

                        </div>
                    </div>
                    <div class="p-col-12 p-md-12">
                        <p-panel header="Detail Pelayanan" [toggleable]="true">
                            <div class="p-grid">
                                <div class="p-col-12 p-md-2">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" [(ngModel)]="searchText" placeholder="Filter" />
                                    </span>
                                </div>
                                <div class="p-col-12 p-md-1">
                                    <button pButton type="button" icon="pi pi-times"
                                        class="p-button p-button-danger p-mr-2" (click)="clearFilter()"
                                        pTooltip="Clear Filter"></button>
                                </div>
                                <div class="p-col-12 p-md-1">
                                    <button pButton type="button" icon="pi pi-check" class="p-button-success p-mr-2"
                                        (click)="cekAll()" label="Cek Semua"></button>
                                </div>
                                <div class="p-col-12 p-md-1">
                                    <button pButton type="button" icon="pi pi-refresh" class="p-button-warning p-mr-2"
                                        (click)="clearSelection()" label="Hapus Terpilih"></button>
                                </div>
                                <div class="p-grid" style="overflow: auto; height: 350px;padding: 20px;"
                                    *ngIf="listProdukCek.length > 0">
                                    <div class="p-col-12 p-md-2 p-field-checkbox"
                                        *ngFor="let list of listProdukCek | filter : searchText">
                                        <p-checkbox [(ngModel)]="item.layanan[list.id]" binary="true" name="group1"
                                            inputId="{{list.id}}" (onChange)="getSelected()">
                                        </p-checkbox>
                                        <label for="{{list.id}}"> {{list.namaproduk}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="p-grid" style="margin-top: 10px;">
                                <div class="p-col-12 p-md-1 p-md-offset-11">
                                    <button pButton type="button" icon="pi pi-save" class="p-button p-mr-2"
                                        (click)="saveMap()" label="Simpan"></button>
                                </div>
                            </div>
                        </p-panel>
                    </div>
                    <div class="p-col-12 p-md-12">
                        <p-panel header="Detail Pelayanan Terpilih : {{countSelected}}" [toggleable]="true"
                            *ngIf="listChecked.length > 0">
                            <div class="p-grid">
                                <div class="p-col-12 p-md-2" *ngFor="let check of listChecked">
                                    <p-tag styleClass="p-mr-2" severity="warning" [style]="{'width':'100%'}"
                                        value="{{check.namaproduk}}"></p-tag>
                                </div>
                            </div>

                        </p-panel>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Master Paket" leftIcon="fa fa-cube">
                <div class="p-grid">
                    <div class="p-col-12 p-md-8 p-md-offset-2">

                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dtx.filterGlobal($event.target.value, 'contains')"
                                placeholder="Pencarian " />
                        </span>
                    </div>

                    <div class="p-col-12 p-md-8 p-md-offset-2">
                        <p-table #dtx [columns]="columnPak" [value]="dataSourcePak" styleClass="p-datatable-customers"
                            [rowHover]="true" [rows]="20" [showCurrentPageReport]="true"
                            [rowsPerPageOptions]="[5,10,25,50]" [paginator]="true" scrollable="true" [pageLinks]="5"
                            sortMode="multiple" [globalFilterFields]="['namapaket']" selectionMode="single">
                            <ng-template pTemplate="caption">
                                <div class="p-d-flex">
                                    <button type="button" pButton pRipple icon="pi pi-plus" (click)="tambahPak()"
                                        class="p-button-success p-mr-2" pTooltip="Tambah " tooltipPosition="bottom">
                                    </button>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th style="width: 80px"></th>
                                    <th *ngFor="let col of columns" pSortableColumn="{{col.field}}"
                                        style="width: {{col.width}}">
                                        {{col.header}}
                                        <p-sortIcon field="{{col.field}}">
                                        </p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                                <tr>
                                    <td style="width: 80px">
                                        <button pButton type="button" icon="pi pi-user-edit"
                                            class="p-button-rounded p-mr-2" pTooltip="Edit " label=""
                                            (click)="editPak(rowData)"></button>
                                        <button pButton type="button" icon="pi pi-trash"
                                            class="p-button-rounded p-button-danger p-mr-2" pTooltip="Hapus" label=""
                                            (click)="delPak(rowData)"></button>
                                    </td>
                                    <td *ngFor="let column of columns" style="width: {{column.width}}">
                                        <span class="{{rowData.class}}" *ngIf="column.isTag == true">
                                            {{rowData[column.field]}}</span>
                                        <span *ngIf="column.isTag != true"> {{rowData[column.field]}}</span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>
</div>

<p-dialog header="Tambah Paket " [(visible)]="popUpPak" [modal]="true" [maximizable]="true" [draggable]="true"
    [resizable]="true" [style]="{width: '500px', minWidth: '500px'}">
    <div class="p-fluid p-grid ">
        <div class="p-col-12 p-md-12">
            <p-panel header="Detail " [toggleable]="true">
                <div class="p-grid">
                    <div class="p-col-12 p-md-12">
                        <label class="label" for="input">Nama Paket </label>
                        <input type="text" [(ngModel)]="item.namapaket" pInputText placeholder="Nama Paket " />
                    </div>
                </div>
            </p-panel>
        </div>

    </div>
    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-save" (click)="savePak()" label="Simpan" class="p-button p-button-success p-mr-2"
            [disabled]="isSimpan"></button>
        <button pButton icon="fa fa-refresh" (click)="popUpPak=false" label="Batal" class="p-button  p-mr-2">
        </button>
    </ng-template>
</p-dialog>