<div class="p-grid dashboard">
    <div class="p-col-12">
        <!-- <div class="p-grid p-nogutter card overview-box control-panel">
            <div class="p-col-12 p-md-8 left-controls">
                <span>Hai, {{namaLengkap}}</span>
            </div>
            <div class="p-col-12 p-md-4 right-controls">
                <div class="p-grid p-nogutter p-d-flex p-jc-end">
                    <div class="p-col-4 p-md-2">
                        <a href="#"><i class="pi pi-bookmark" aria-hidden="true"></i></a>
                    </div>
                    <div class="p-col-4 p-md-2">
                        <a href="#"><i class="pi pi-heart" aria-hidden="true"></i></a>
                    </div>
                    <div class="p-col-4 p-md-2">
                        <a href="#"><i class="pi pi-inbox" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="card">
            <div class="banner home-page-banner insurance">
                <div class="banner--layout">
                    <!-- <span     class="banner--layout__title">Hai, {{namaLengkap}}</span> -->
                    <!-- <span 
                        class="banner--layout__description">Chat dokter, kunjungi rumah sakit, beli obat, cek lab dan
                        update informasi seputar kesehatan, semua bisa di Halodoc!</span> -->


                    <div class="layout-dashboard">
                        <div class="p-grid">
                            <div class="p-col-12">
                                <div class="notification">
                                    <h6>👋 Hello,{{namaLengkap}} ! Welcome to PCure Neo!</h6>
                                </div>
                            </div>
                            <!-- <div class="p-col-12">
                                <div class="p-grid" style="margin: -1rem;">
                                    <div class="p-col-12 p-md-3">
                                        <div class="card overview-box white">
                                            <div class="overview-info">
                                                <h6>Graphics</h6>
                                                <h1>18%</h1>
                                            </div><i class="pi pi-image"></i>
                                        </div>
                                    </div>
                                    <div class="p-col-12 p-md-3">
                                        <div class="card overview-box blue">
                                            <div class="overview-info">
                                                <h6>New users (Today)</h6>
                                                <h1>32</h1>
                                            </div><i class="pi pi-users"></i>
                                        </div>
                                    </div>
                                    <div class="p-col-12 p-md-3">
                                        <div class="card overview-box gray">
                                            <div class="overview-info">
                                                <h6>Uptime</h6>
                                                <h1>5h12m</h1>
                                            </div><i class="pi pi-globe"></i>
                                        </div>
                                    </div>
                                    <div class="p-col-12 p-md-3">
                                        <div class="card overview-box darkgray">
                                            <div class="overview-info">
                                                <h6>Text coverage</h6>
                                                <h1>96%</h1>
                                            </div><i class="pi pi-th-large"></i>
                                        </div>
                                    </div>
                                    <div class="p-col-12 p-md-3">
                                        <div class="card overview-box orange">
                                            <div class="overview-info">
                                                <h6>Cloud users</h6>
                                                <h1>4216</h1>
                                            </div><i class="pi pi-cloud"></i>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
