
    .btnTemplate{
        width: 450px;
        height: 80px;
        /* color: #ffffff; */
        margin: 10px 0;
        font-size: 30px;
        font-family: 'neotericregular';
      }
      .centers{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 5%;
      }
      p.text-regular {
       
        padding: 0;
        margin: 0;
        font-size: 18px;
      }
       p.text-bold {
       
        font-weight: bold;
        padding: 0;
        margin: 0;
        font-size: 20px;
      }
      h1.no-cm{
       
        font-weight: bold;
        text-align: center;
        color: #777777;
        font-size: 45px;
        padding: 35px 0;
        margin-bottom: 50px;
        background: rgba(255,255,255, 0.5);
      }
   .detail-pasien {
        margin: 20px 0;
        border-bottom: 2px solid #ffffff;
      }