<div class="p-col-12 p-fluid p-formgrid ">
    <div class="p-grid">
        <div class="p-col-12 p-md-1">
            <a id="link-kios" (click)="goBack()" pTooltip="Kembali Ke Menu Sebelumnya">
                <span style="font-size:35px;" class="fa fa-arrow-left"></span>
            </a>
        </div>
        <div class="p-col-12 p-md-10">
            <h4 style="text-align: center"> Checkin Reservasi - Pasien {{url}} </h4>
        </div>
    </div>
    <form [formGroup]="formGroup">
        <div class="p-grid" style="margin-top:20px">
            <div class="p-col-12 p-md-4 p-md-offset-4 " *ngIf="!isInfoPasien">
                <div class="p-grid">
                    <div class="p-col-12">
                        <h5 style="text-align:center">Masukkan Nomor Reservasi</h5>
                        <input type="text" formControlName="noReservasi" pInputText placeholder="Nomor Reservasi "  [matKeyboard]="'LOCALE_ID'" />
                    </div>
                </div>


                <div style="text-align:center">
                    <button (click)="getInfoByNoReservasi()" pButton pRipple type="button" label="Selanjutnya"
                    icon="pi pi-arrow-circle-right" class="p-button p-mr-2 p-mb-2"></button>
                    <!-- <button mat-raised-button color="accent" class="btnTemplate" style="color:white"
                        (click)="getInfoByNoReservasi()">Selanjutnya
                    </button> -->
                </div>

            </div>

            <div class="centers" *ngIf="isInfoPasien">
                <div class="p-col-12" style="margin-top:-60px">
                    <h1 class="no-cm">No. Reservasi : {{item.noreservasi}}</h1>
                </div>


                <div class="row">
                    <div class="p-grid" style="margin-top: -60px;">
                        <div class="p-col-12 p-md-4">
                            <div class="detail-pasien" *ngIf="item.nocm==null">
                                <p class="text-regular">Tipe Pasien</p>
                                <p class="text-bold">{{item.type}}</p>
                            </div>
                            <div class="detail-pasien" *ngIf="item.nocm!=null">
                                <p class="text-regular">No. RM</p>
                                <p class="text-bold">{{item.nocm}}</p>
                            </div>
                            <div class="detail-pasien">
                                <p class="text-regular">Nama Pasien</p>
                                <p class="text-bold"> {{item.namapasien}}</p>
                            </div>
                            <div class="detail-pasien">
                                <p class="text-regular">Jenis Kelamin</p>
                                <p class="text-bold">{{item.jeniskelamin}}</p>
                            </div>

                        </div>
                        <div class="p-col-12 p-md-4">
                            <div class="detail-pasien">
                                <p class="text-regular">Tanggal Lahir</p>
                                <p class="text-bold">{{item.tgllahir}}</p>
                            </div>
                            <div class="detail-pasien">
                                <p class="text-regular">Alamat</p>
                                <p class="text-bold">{{item.alamatlengkap}}</p>
                            </div>
                            <div class="detail-pasien">
                                <p class="text-regular">No. Telpon</p>
                                <p class="text-bold">{{item.notelepon}}</p>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-4">
                            <div class="detail-pasien">
                                <p class="text-regular">Tgl Reservasi</p>
                                <p class="text-bold">{{item.tanggalreservasi}}</p>
                            </div>
                            <div class="detail-pasien">
                                <p class="text-regular">Poliklinik</p>
                                <p class="text-bold">{{item.namaruangan}}</p>
                            </div>
                            <div class="detail-pasien">
                                <p class="text-regular">Dokter</p>
                                <!-- <p class="text-bold">{{item.dokter}}</p> -->
                                <p class="text-bold">-</p>
                            </div>

                        </div>
                    </div>
                    <div class="p-col-12 p-md-4 p-md-offset-4">
                        <div style="text-align:center">
                            <button (click)="checkIn()" pButton pRipple type="button" label="Checkin" icon="pi pi-save"
                                class="p-button p-mr-2 p-mb-2"></button>
                            <!-- <button mat-raised-button color="accent" class="btnTemplate" style="color:white"
                                (click)="checkIn()">Check-In
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>