.img-responsive {
    display: block;
    height: auto;
    max-width: 90%;
    text-align: center;
  }
  
  img {
    vertical-align: middle;
    border: 0;
  }
  
  .content-landing-page .content-landing-page-right img {
    float: right;
  
  }
  
  .content-landing-page .content-landing-page-right {
    text-align: right;
    // color: #fff;
    float: right;
  }
  
  
  .content-landing-page {
    position: absolute;
    left: 0;
    bottom: 25%;
    width: 100%;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
    /*text-align: center;*/
    /*color: #000;*/
  }
  
  @media (max-width: 1366px) {
    .content-landing-page .content-landing-page-right {
      text-align: right;
      //   color: #fff;
    }
  
    .content-landing-page .content-landing-page-right img {
      float: right;
      width: 30%;
    }
  
    .content-landing-page .content-landing-page-right h1 {
      font-family: 'neotericbold';
      //   color: #ffffff;
      font-size: 35px;
      text-align: right;
    }
  }
  
 
  .btnTemplate {
    // width: 450px;
    // height: 80px;
    /* color: #ffffff; */
    // margin: 10px 0;
    font-size: 30px;
    font-family: 'neotericregular';
  }
  
  .center-position {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10%;
  }
  
.overview-box{
  cursor: pointer;
}
  .userprofile {
    padding: 0;
  }
  
  .userprofile .userprofile-bg {
    width: 100%;
  }
  
  .userprofile .userprofile-avatar {
    border: 4px solid #ffffff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto;
    width: 96px;
    height: 96px;
    display: block;
    margin-top: -48px;
  }
  
  .userprofile .userprofile-name {
    text-align: center;
    margin: 0.5em 0;
  }
  
  .userprofile .userprofile-role {
    color: #616161;
    text-align: center;
    margin-bottom: 2em;
    font-size: 12px;
    letter-spacing: 0.4px;
  }
  
  .userprofile .userprofile-circle {
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border-width: 4px;
    border-style: solid;
    margin: 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 0.5em;
  }
  
  .userprofile .userprofile-status {
    color: #616161;
    letter-spacing: 2px;
    font-size: 12px;
  }
  
  .userprofile .userprofile-value {
    margin-top: 0.5em;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.2px;
  }
  
  .userprofile .userprofile-legend {
    text-align: center;
  }
  
  .userprofile .userprofile-completed .userprofile-circle {
    border-color: #00bcd4;
  }
  
  .userprofile .userprofile-snoozed .userprofile-circle {
    border-color: #ffc107;
  }
  
  .userprofile .userprofile-overdue .userprofile-circle {
    border-color: #e91e63;
  }
  
  video {
    max-width: 95%;
    height: auto;
    margin-left: 15px;
    padding: 10px; 
  }
  
  .content h1 {
    text-align: center;
    // color: #fff;
    font-size: 25px;
  }
  .content2 h1 {
    text-align: center;
    // color: #fff;
    font-size: 18px;
  }
  .image-res {
    display: block;
    height: auto;
    max-width: 100%;
    text-align: center;
  }
  
  
  .layout-dashboard{
    padding:0.5rem;
  }
  .video-player-wrapper{
    padding:20px
  }