<div class="p-fluid p-formgrid ">
    <div class="card card-w-title">
        <h4>Peserta</h4>
        <div class="p-grid">
            <div class="p-col-12 p-md-12">
                <div class="p-grid">
                    <div class="p-col-12 p-md-3">
                        <label class="label" for="input">Pencarian</label>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-6 p-field-checkbox" *ngFor="let items of listTipe">
                                <p-radioButton [inputId]="items.id" [value]="items" [(ngModel)]="item.tipe">
                                </p-radioButton>
                                <label [for]="items.id">{{items.name}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-5">
                        <label class="label" for="input">Nomor Kartu/NIK </label>
                        <input type="text" [(ngModel)]="item.noka" pInputText placeholder="Masukkan Nomor Kartu/NIK " />
                    </div>
                    <div class="p-col-12 p-md-1" style="margin-top: 16px;">
                        <button pButton type="button" class="p-button-primary p-mr-1" icon="pi pi-search"
                            pTooltip="No Kartu" (click)="cari()"></button>
                            <button pButton type="button" class="p-button-warning p-mr-1" icon="pi pi-refresh"
                            pTooltip="No Kartu" (click)="item.noka = '' "></button>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-12">
                <pre style="height:500px">
                    <code [innerHtml]="jsonResult"  class="language-json" pCode></code>
                </pre>
            </div>
        </div>
    </div>
</div>