<div class="p-fluid p-formgrid ">
    <div class="card card-w-title">
        <h4>Setting Instalasi Ruangan</h4>
        <div class="p-grid">
            <div class="p-col-12 p-md-12">
                <p-tabView (onChange)="handleChangeTab($event)">
                    <p-tabPanel header="Instalasi" leftIcon="fa fa-users">
                        <div class="p-grid">

                            <div class="p-col-12 p-md-4">
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text"
                                        (input)="dt.filterGlobal($event.target.value, 'contains')"
                                        placeholder="Pencarian " />
                                </span>
                            </div>

                            <div class="p-col-12">
                                <p-table #dt [columns]="column" [value]="dataSource" [(selection)]="selectedGrid"
                                    styleClass="p-datatable-customers" [rowHover]="true" [rows]="10"
                                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]"
                                    [paginator]="true" scrollable="true" [pageLinks]="5" sortMode="multiple"
                                    [globalFilterFields]="['namauser','namalengkap','kelompokuser']"
                                    selectionMode="single">
                                    <ng-template pTemplate="caption">
                                        <div class="p-d-flex">
                                            <button type="button" pButton pRipple icon="pi pi-plus" (click)="tambahIns()"
                                                class="p-button-success p-mr-2" pTooltip="Tambah "
                                                tooltipPosition="bottom">
                                            </button>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th style="width: 80px"></th>
                                            <th *ngFor="let col of columns" pSortableColumn="{{col.field}}"
                                                style="width: {{col.width}}">
                                                {{col.header}}
                                                <p-sortIcon field="{{col.field}}">
                                                </p-sortIcon>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-columns="columns"
                                        let-rowIndex="rowIndex">
                                        <tr>
                                            <td style="width: 80px">
                                                <button pButton type="button" icon="pi pi-user-edit"
                                                    class="p-button-rounded p-mr-2" pTooltip="Edit " label=""
                                                    (click)="editInstalasi(rowData)"></button>
                                                <button pButton type="button" icon="pi pi-trash"
                                                    class="p-button-rounded p-button-danger p-mr-2" pTooltip="Hapus "
                                                    label="" (click)="hapusInstalasi(rowData)"></button>
                                            </td>
                                            <td *ngFor="let column of columns" style="width: {{column.width}}">
                                                {{rowData[column.field]}}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </p-tabPanel>
                    <!-- ------------------------------------selesai instalsi--------------------------- -->

                    <!-- -------------------------------------Ruangan----------------------------------- -->
                    <p-tabPanel header="Ruangan" leftIcon="fa fa-users">
                        <div class="p-grid">

                            <div class="p-col-12 p-md-4">
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text"
                                        (input)="dt.filterGlobal($event.target.value, 'contains')"
                                        placeholder="Pencarian " />
                                </span>
                            </div>

                            <div class="p-col-12">
                                <p-table #dt [columns]="column" [value]="dataSource" [(selection)]="selectedGrid"
                                    styleClass="p-datatable-customers" [rowHover]="true" [rows]="10"
                                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]"
                                    [paginator]="true" scrollable="true" [pageLinks]="5" sortMode="multiple"
                                    [globalFilterFields]="['namauser','namalengkap','kelompokuser']"
                                    selectionMode="single">
                                    <ng-template pTemplate="caption">
                                        <div class="p-d-flex">
                                            <button type="button" pButton pRipple icon="pi pi-plus" (click)="tambahru()"
                                                class="p-button-success p-mr-2" pTooltip="Tambah "
                                                tooltipPosition="bottom">
                                            </button>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th style="width: 80px"></th>
                                            <th *ngFor="let col of columns" pSortableColumn="{{col.field}}"
                                                style="width: {{col.width}}">
                                                {{col.header}}
                                                <p-sortIcon field="{{col.field}}">
                                                </p-sortIcon>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-columns="columns"
                                        let-rowIndex="rowIndex">
                                        <tr>
                                            <td style="width: 80px">
                                                <button pButton type="button" icon="pi pi-user-edit"
                                                    class="p-button-rounded p-mr-2" pTooltip="Edit " label=""
                                                    (click)="editUser(rowData)"></button>
                                                <button pButton type="button" icon="pi pi-trash"
                                                    class="p-button-rounded p-button-danger p-mr-2" pTooltip="Hapus "
                                                    label="" (click)="hapusUser(rowData)"></button>
                                            </td>
                                            <td *ngFor="let column of columns" style="width: {{column.width}}">
                                                {{rowData[column.field]}}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </p-tabPanel>

                    <!-- -----------------------------Selesai Ruangan----------------------------------- -->

                    <!-- -----------------------------Mapping User   ----------------------------------- -->

               <!--      <p-tabPanel header="Mapping User" leftIcon="pi pi-sitemap">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-12">
                                <div class="p-grid">
                                    <div class="p-col-12 p-md-4">
                                        <label class="label" for="input">Login User</label>
                                        <p-dropdown [options]="d_LoginUser" [(ngModel)]="item.loginUser" [filter]="true"
                                            [showClear]="true" placeholder="Login User" optionLabel="namauser" 
                                            (onChange)="changeUser($event)">
                                        </p-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="p-col-12 p-md-6">
                                <p-panel header="Map To Ruangan" [toggleable]="true">
                                    <div class="p-grid">
                                        <div class="p-col-12 p-md-4">
                                            <span class="p-input-icon-left">
                                                <i class="pi pi-search"></i>
                                                <input pInputText type="text" [(ngModel)]="searchText"
                                                    placeholder="Filter" />
                                            </span>
                                        </div>
                                        <div class="p-col-12 p-md-1">
                                            <button pButton type="button" icon="pi pi-times"
                                                class="p-button p-button-danger p-mr-2" (click)="clearFilter()"
                                                pTooltip="Clear Filter"></button>
                                        </div>
                                        <div class="p-grid" style="overflow: auto; height: 250px;padding: 20px;"
                                            *ngIf="listRuangan.length > 0">
                                            <div class="p-col-12 p-field-checkbox"
                                                *ngFor="let list of listRuangan | filter : searchText">
                                                <p-checkbox [(ngModel)]="item.mapRuangan[list.id]" binary="true" name="group1" 
                                                    inputId="{{list.id}}">
                                                </p-checkbox>
                                                <label for="{{list.id}}"> {{list.namaruangan}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-grid" style="margin-top: 10px;">
                                        <div class="p-col-12 p-md-2 p-md-offset-10">
                                            <button pButton type="button" icon="pi pi-save" class="p-button p-mr-2"
                                                (click)="saveMapRuangan()" label="Simpan"></button>
                                        </div>
                                    </div>
                                </p-panel>
                            </div>
                            <div class="p-col-12 p-md-6">
                                <p-panel header="Map To Modul" [toggleable]="true">
                                    <div class="p-grid">
                                        <div class="p-col-12 p-md-4">
                                            <span class="p-input-icon-left">
                                                <i class="pi pi-search"></i>
                                                <input pInputText type="text" [(ngModel)]="searchText2"
                                                    placeholder="Filter" />
                                            </span>
                                        </div>
                                        <div class="p-col-12 p-md-1">
                                            <button pButton type="button" icon="pi pi-times"
                                                class="p-button p-button-danger p-mr-2" (click)="clearFilter2()"
                                                pTooltip="Clear Filter"></button>
                                        </div>
                                        <div class="p-grid" style="overflow: auto; height: 250px;padding: 20px;"
                                            *ngIf="listModul.length > 0">
                                            <div class="p-col-12 p-field-checkbox"
                                                *ngFor="let list of listModul | filter : searchText2">
                                                <p-checkbox [(ngModel)]="item.mapModul[list.idCheck]" binary="true" 
                                                    inputId="{{list.idCheck}}" >
                                                </p-checkbox>
                                                <label for="{{list.idCheck}}"> {{list.namemodul}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-grid" style="margin-top: 10px;">
                                        <div class="p-col-12 p-md-2 p-md-offset-10">
                                            <button pButton type="button" icon="pi pi-save" class="p-button p-mr-2"
                                                (click)="saveModul()" label="Simpan"></button>
                                        </div>
                                    </div>
                                </p-panel>
                            </div>
                        </div>
                    </p-tabPanel> -->

                    <!-- -----------------------------Selesai Mapping User   --------------------------- -->
                </p-tabView>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Tambah Instalasi" [(visible)]="pop_Instalasi" [modal]="true" [maximizable]="true" [draggable]="true"
    [resizable]="true" [style]="{width: '900px', minWidth: '900px'}">
    <div class="p-fluid p-grid ">
        <div class="p-col-12 p-md-12">
            <p-panel header="Detail Instalasi" [toggleable]="true">
                <div class="p-grid">

                    <div class="p-col-12 p-md-4">
                        <label class="label" for="input">Id Instalasi </label>
                        <input type="text" [(ngModel)]="item.idinstalasi" pInputText placeholder="Kode Instalasi" disabled="" />
                    </div>
                    <div class="p-col-12 p-md-4">
                        <label class="label" for="input">Nama Instalasi </label>
                        <input type="text" [(ngModel)]="item.namainstalasi" pInputText placeholder="Nama Instalasi " />
                    </div>
                    <div class="p-col-12 p-md-4">
                        <label class="label" for="input">Status Aktif</label>
                        <p-dropdown [options]="listStatus" [(ngModel)]="item.status" [filter]="true"
                            [showClear]="true" placeholder="Status " optionLabel="status" dataKey="id">
                        </p-dropdown>
                    </div>
                    <div class="p-col-12 p-md-4">
                        <label class="label" for="input">Nama External </label>
                        <input type="text" [(ngModel)]="item.namaexternal" pInputText
                            placeholder="Nama External " />
                    </div>
                     <div class="p-col-12 p-md-4">
                        <label class="label" for="input">Kode External </label>
                        <input type="text" [(ngModel)]="item.kodeexternal" pInputText
                            placeholder="Kode External " />
                    </div>
                    <div class="p-col-12 p-md-4">
                        <label class="label" for="input">Keterangan </label>
                        <input type="text" [(ngModel)]="item.Keterangan" pInputText
                            placeholder="Keterangan" />
                    </div>                

                </div>
            </p-panel>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-save" (click)="simpanInstalasi()" label="Simpan" class="p-button p-button-success p-mr-2"
            ></button>
        <button pButton icon="fa fa-refresh" (click)="pop_Instalasi=false" label="Batal" class="p-button  p-mr-2">
        </button>
    </ng-template>
</p-dialog>

<!-- <p-dialog header="Tambah Ruangan" [(visible)]="pop_Ruangan" [modal]="true" [maximizable]="true" [draggable]="true"
    [resizable]="true" [style]="{width: '900px', minWidth: '900px'}">
    <div class="p-fluid p-grid ">
        <div class="p-col-12 p-md-12">
            <p-panel header="Detail Ruangan" [toggleable]="true">
                <div class="p-grid">

                    <div class="p-col-12 p-md-4">
                        <label class="label" for="input">Id Ruangan </label>
                        <input type="text" [(ngModel)]="item.idruangan" pInputText placeholder="Kode Instalasi" disabled="" />
                    </div>
                    <div class="p-col-12 p-md-4">
                                    <label class="label" for="input">Instalasi</label>
                                    <p-dropdown [options]="listInstalasi" [(ngModel)]="item.Instalasi"
                                        [filter]="true" [showClear]="true" placeholder="Instalasi"
                                        optionLabel="instalasi" dataKey="id">
                                    </p-dropdown>
                                </div>
                    <div class="p-col-12 p-md-4">
                        <label class="label" for="input">Nama Ruangan </label>
                        <input type="text" [(ngModel)]="item.namaruangan" pInputText placeholder="Nama Instalasi " />
                    </div>
                    <div class="p-col-12 p-md-4">
                        <label class="label" for="input">Status Aktif</label>
                        <p-dropdown [options]="listStatus" [(ngModel)]="item.status" [filter]="true"
                            [showClear]="true" placeholder="Status " optionLabel="status" dataKey="id">
                        </p-dropdown>
                    </div>
                    <div class="p-col-12 p-md-4">
                        <label class="label" for="input">Nama External </label>
                        <input type="text" [(ngModel)]="item.namaexternal" pInputText
                            placeholder="Nama External " />
                    </div>
                     <div class="p-col-12 p-md-4">
                        <label class="label" for="input">Kode External </label>
                        <input type="text" [(ngModel)]="item.kodeexternal" pInputText
                            placeholder="Kode External " />
                    </div>
                    <div class="p-col-12 p-md-4">
                        <label class="label" for="input">Keterangan </label>
                        <input type="text" [(ngModel)]="item.Keterangan" pInputText
                            placeholder="Keterangan" />
                    </div>                

                </div>
            </p-panel>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-save" (click)="simpanInstalasi()" label="Simpan" class="p-button p-button-success p-mr-2"
            ></button>
        <button pButton icon="fa fa-refresh" (click)="pop_Instalasi=false" label="Batal" class="p-button  p-mr-2">
        </button>
    </ng-template>
</p-dialog> -->
