<div class="p-grid dashboard">
    <div class="p-col-12">
        <div class="p-grid p-nogutter card overview-box control-panel">
            <div class="p-col-12 p-md-8 left-controls">
                <span>Hai, {{namaLengkap}}</span>
            </div>
            <div class="p-col-12 p-md-4 right-controls">
                <div class="p-grid p-nogutter p-d-flex p-jc-end">
                    <div class="p-col-4 p-md-2">
                        <a href="#"><i class="pi pi-bookmark" aria-hidden="true"></i></a>
                    </div>
                    <div class="p-col-4 p-md-2">
                        <a href="#"><i class="pi pi-heart" aria-hidden="true"></i></a>
                    </div>
                    <div class="p-col-4 p-md-2">
                        <a href="#"><i class="pi pi-inbox" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>