/* You can add global styles to this file, and also import other style files */

@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/prismjs/themes/prism-coy.css";
@import "../node_modules/@fullcalendar/core/main.min.css";
@import "../node_modules/@fullcalendar/daygrid/main.min.css";
@import "../node_modules/@fullcalendar/timegrid/main.min.css";
@import "assets/demo/flags/flags.css";


.profile-user-login {
    width: 45px;
    float: left;
    margin-bottom: 10px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    border-radius: 50%;
    max-width: 48px;
    background-color: rgb(7, 71, 166);
  }
  .profile-role {
    display: block;
    min-width: 45px;
    text-align: left;
    font-size: 12px;
    float: left;
    margin-left: 7px;
    color: #dfd2d2;
    cursor: pointer;
  }
  .profile-css:hover {
    margin: 10px;
    fill: #ebecf0;
  }
  
  .profile-css {
    margin: 10px;
    cursor: pointer;
  }
  
  .badge {
    padding: 3px 6px;
  }
  .badge,
  .label {
    font-weight: bold;
  
  }
  .pull-right {
    float: right !important;
  }
  .badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    
    border-radius: 10px;
  }
  .badget .default{
    background-color: #a7abaf;
  }
  .default{
    background-color: #a7abaf;
  }
  .badge .red {
    background-color:  rgb(245, 66, 78);
  }
  .red {
    background-color:  rgb(245, 66, 78);
  }
  .badge .green {
    background-color:  rgba(111, 241, 181, 0.993);
  }
  .green {
    background-color:  #5cb85c;
  }
  
.profile-css:hover {
    margin: 10px;
    /* background-color: rgb(26, 31, 53); */
    fill: rgb(235, 236, 240);
  }
  .profile-css {
    margin: 10px;
    cursor: pointer;
  }
  
  .profile-name {
    display: block;
    color: #ffffff;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-top: 4px;
    margin-left: 52px;
    max-height: 2.6rem;
    max-width: 20rem;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    margin-bottom: 2px;
  }
  .label-required{
  
    font-weight: bold;
  }
 .label-required:after {
   content: " *";
    color: red;
    font-weight: bold;
 }
 
 .order-badge.order-instock {
  background: #c8e6c9;
  color: #256029;
  margin-right: 2px;
}

.order-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}

/*  */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(assets/layout/fonts/pxiGyp8kv8JHgFVrLPTucXtAKPY.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(assets/layout/fonts/pxiGyp8kv8JHgFVrLPTufntAKPY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(assets/layout/fonts/pxiGyp8kv8JHgFVrLPTucHtA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*  */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(assets/layout/fonts/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(assets/layout/fonts/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(assets/layout/fonts/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*  */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/layout/fonts/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/layout/fonts/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/layout/fonts/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*  */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(assets/layout/fonts/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(assets/layout/fonts/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(assets/layout/fonts/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*  */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(assets/layout/fonts/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(assets/layout/fonts/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(assets/layout/fonts/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*  */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(assets/layout/fonts/pxiByp8kv8JHgFVrLBT5Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(assets/layout/fonts/pxiByp8kv8JHgFVrLBT5Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(assets/layout/fonts/pxiByp8kv8JHgFVrLBT5Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.p-inputgroup .p-inputtext, .p-fluid .p-inputgroup .p-inputtext {
  flex: 1 1 auto;
  width: 1%;
  border: none;
}
body{
  // font-family: 'Lexend', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.dashboard .overview-box .overview-box-icon i {
  font-size: 30px;
  // height: 60px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

body {
  color: rgba(41, 50, 65, 0.8);
  padding: 0;
  margin: 0;
  min-height: 100%;
  background-color: #f2f4f6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.layout-dashboard {
  padding: 30px 36px;
  flex: 1 1 auto;
}
.notification {
  padding: 30px 24px;
  background-color: #ffffff;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.notification > h6 {
  margin: 0;
  color: rgba(41, 50, 65, 0.8);
}
.notification > h6 > a {
  margin-left: 10px;
}
.notification > h6 > a i {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.overview-box.white {
  background: #ffffff;
  color: rgba(41, 50, 65, 0.8);
}

.card:last-child {
  margin-bottom: 0;
}
.overview-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 24px;
  height: 100%;
  min-width: 200px;
}
.cards {
  background: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 10px 40px rgb(41 50 65 / 6%);
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  border-radius: 24px;

  margin-bottom: 2rem;
}
.p-grid > .p-col,
.p-grid > [class*="p-col"] {
  box-sizing: border-box;
}

.p-col {
  flex-grow: 1;
  flex-basis: 0;
  padding: 1rem;
}
.overview-box .overview-info > h6 {
  margin: 0 0 2px;
}
.overview-box .overview-info > h1 {
  margin: 0;
}
.overview-box.blue {
  background: #69b7ff;
  color: #ffffff;
}
.overview-box.gray {
  background: rgba(41, 50, 65, 0.4);
  color: #ffffff;
}
.overview-box.darkgray {
  background: rgba(41, 50, 65, 0.8);
  color: #ffffff;
}
.overview-box.orange {
  background: linear-gradient(90deg, #ffb340 0%, #ffa740 100%);
  color: #ffffff;
}
.p-datatable .p-datatable-tbody > tr.row-kosong  {
  background-color: #fc6161;
  box-shadow: 0px 6px 20px rgb(252 97 97 / 30%);
  color: white;
}
.p-datatable .p-datatable-tbody > tr .row-kosong  {
  background-color: #fc6161;
  box-shadow: 0px 6px 20px rgb(252 97 97 / 30%);
  color: white;
}
:host ::ng-deep .row-kosong  {
  background-color: #fc6161;
  box-shadow: 0px 6px 20px rgb(252 97 97 / 30%);
  color: white;
}
.progressbar {
  margin: auto 10px;
  height: 5px;
  padding: 0;
  width: 200%;
  background-color: #eaf0f6;
  border-radius: 5px;
}
.progressbar .progress {
  height: 5px;
  background-image: linear-gradient(270deg, #42bbff 0%, #6129ff 100%);
  // background: linear-gradient(270deg, var(--primary-lighter-color) 0%, var(--primary-color) 100%);
  opacity: 0.8;
  border-radius: 5px;
}
.cards .card-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  // padding-bottom: 16px;
}
.overview-box.blue {
  background: #69B7FF;
  color: #FFFFFF;
}
.cards:last-child {
  margin-bottom: 0;
}
.overview-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 24px;
  height: 100%;
  min-width: 200px;
}
.cards .card-header .subtitle {
  font-weight: 600;
  color: rgba(41, 50, 65, 0.5);
}
p:last-child {
  margin-bottom: 0;
}
p {
  margin: 0 0 1rem 0;
  line-height: 1.5;
}


.p-inputtext {
  font-family: 'Poppins', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-size: 1.3rem;
  color: #495057;
  background: #FFFFFF;
  padding: 0.5rem 0.5rem;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  appearance: none;
  padding: 0 20px;
  border-radius: 24px;
  height: 50px;
}
.p-field-checkbox > label, .p-field-radiobutton > label {
  margin-left: 0.5rem;
  line-height: 1;
  font-size: 1.2rem;
}
.p-radiobutton .p-radiobutton-box {
  border: 2px solid #ced4da;
  background: #ffffff;
  width: 20px;
  height: 20px;
  color: #495057;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.p-button {
  color: #ffffff;
  // background: #EEE500;
  // border: 1px solid #EEE500;
  padding: 0.5rem 0.8rem;
  // font-size: 1.8rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 24px;
}
.p-dropdown-panel {
  background: #ffffff;
  color: #495057;
  border: 0 none;
  border-radius: 24px;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
}
.p-dropdown {
  background: #ffffff;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 24px;
}
.p-dropdown-item {
  cursor: pointer;
  font-weight: 400;
  font-size: 1.7rem;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}
.p-dropdown-label {
  cursor: pointer;
  display: block;
  flex: 1 1 auto;
  /* margin-top: 10px; */
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 1%;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message {
  padding: 0.5rem 1rem;
  color: #495057;
  background: transparent;
  font-size: 1.7rem;
}
.dashboard .overview-box {
  padding: 15px 10px;
  text-align: left;
  overflow: hidden;
  margin-bottom: 0px !important;
  background-color: #ffffff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 24px;
  color: #777777;
}
.dashboard .overview-box .overview-box-rate {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 10px;
  padding: 2px 4px;
  background-color: rgb(7, 71, 166);
  font-weight: bold;
  color: #ffffff;
  font-size: 1.5rem;
  display: inline-block;
  margin-top: 4px;
}


.dashboard .overview-box .overview-box-icon i {
    font-size: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}