.login-body2 {
  background: #f8f9fa;
  color: #495057;
}
* {
  box-sizing: border-box;
}
.login-body2 .login-wrapper2 {
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}
.login-body2 .login-wrapper2 .login-panel2 {
  width: 25%;
  height: 100%;
  background: rgb(7, 71, 166);
  text-align: center;
  padding: 40px 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-direction: column;
  flex-direction: column;
}
.login-body2 .login-wrapper2 .login-panel2 .logo {
  height: 50px;
}
.login-body2 .login-wrapper2 .login-panel2 .login-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

h2 {
  font-size: 2rem;
}
h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 1rem 0;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: inherit;
}
.login-body2 .login-wrapper2 .login-panel2 .login-form > p {
  font-weight: 600;
  margin: 0;
  /* color: #6c757d; */
  color: white;
  margin-bottom: 32px;
}

.login-body2 .login-wrapper2 .login-panel2 p {
  font-weight: 600;
  margin: 0;
  color: white;
  /* color: #6c757d; */
}
p {
  margin: 0 0 1rem 0;
  line-height: 1.5;
}
.login-body2 .login-wrapper2 .login-panel2 .login-form > p > a {
  color: #1976D2;
  cursor: pointer;
}

.login-body2 .login-wrapper2 .login-panel2 p > a {
  color: #1976D2;
}
a {
  text-decoration: none;
  color: #1976D2;
}
.login-body2 .login-wrapper2 .login-panel2 .login-form > input {
  width: 85%;
  max-width: 310px;
  margin-bottom: 20px;
}

.p-inputtext {
  margin: 0;
}
.p-component, .p-component * {
  box-sizing: border-box;
}
.p-inputtext {
  font-family: 'Lexend', sans-serif;
  /* font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  font-size: 1rem;
  color: #495057;
  background: #ffffff;
  padding: 0.5rem 0.5rem;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  appearance: none;
  border-radius: 4px;
}
.p-component {
  /* font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  font-size: 1rem;
  font-weight: normal;
}
.login-body2 .login-wrapper2 .login-panel2 .login-form > button {
  width: 85%;
  max-width: 310px;
}

.p-button {
  margin: 0;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.p-component, .p-component * {
  box-sizing: border-box;
}
.p-button {
  color: #ffffff;
  background: #2196F3;
  border: 1px solid #2196F3;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 4px;
}
.p-component {
  /* font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  font-size: 1rem;
  font-weight: normal;
}
button, input[type=button], input[type=file]::-webkit-file-upload-button, input[type=reset], input[type=submit] {
  border-radius: 0;
}
.p-button-label {
  flex: 1 1 auto;
}
.p-component, .p-component * {
  box-sizing: border-box;
}
.login-body2 .login-wrapper2 .login-panel2 p {
  font-weight: 600;
  margin: 0;
  color: white;
  /* color: #6c757d; */
}

p:last-child {
  margin-bottom: 0;
}
p {
  margin: 0 0 1rem 0;
  line-height: 1.5;
}


.login-body2 .login-wrapper2 .login-image {
    width: 70%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 40px 20px;
}

@media (min-width: 993px) {
  .login-body2 .login-wrapper2 .login-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../../assets/layout/images/img-login.webp);
    height: 90vh;
  }
}
@media (max-width: 992px) {
  .login-body2 .login-wrapper2 .login-panel2 {
    width: 100%;
    z-index: 2;
  }
  .login-body2 .login-wrapper2 .login-image {
    display: none;
  }
}
.login-body2 .login-wrapper2 .login-image .image-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.login-body2 .login-wrapper2 .login-image .image-footer > p {
  font-weight: 600;
  margin: 0;
  /* color: #ffffff; */
  margin-right: 20px;
}

p {
  margin: 0 0 1rem 0;
  line-height: 1.5;
}
.login-body2 .login-wrapper2 .login-image .image-footer .icons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.login-body2 .login-wrapper2 .login-image .image-footer .icons i {
  font-size: 22px;
  color: #2196F3;
  margin-right: 20px;
  cursor: pointer;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: opacity 0.2s;
  background: #ffffff;
  opacity: 0.7;
}

.pi {
  font-family: primeicons;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pi {
  font-size: 1rem;
}
.login-body2 .login-wrapper2 .login-image .image-footer .icons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.login-body2 .login-wrapper2 .login-image {
  width: 70%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 40px 20px;
}
@media (max-width: 992px) {
  .login-body2 .login-wrapper2 .login-panel2 {
    width: 100%;
    z-index: 2;
  }
  .login-body2 .login-wrapper2 .login-image {
    display: none;
  }
}
.p-p-18{
  padding: 0px 18% 18% 17%;
}