<div class="p-fluid p-formgrid ">
    <div class="card card-w-title">
        <h4>Setting Administrasi Ruangan Otomatis</h4>
        <div class="p-grid">
            <div class="p-col-12 p-md-12">
                <div class="p-grid">
                    <div class="p-col-12 p-md-9">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                <label class="label" for="input">Ruangan</label>
                                <p-dropdown [options]="listRuangan" [(ngModel)]="item.ruangan" [filter]="true"
                                    [showClear]="true" placeholder="Ruangan" optionLabel="namaruangan" (onChange)="getProduk()"></p-dropdown>
                            </div>
                            <div class="p-col-12 p-md-3">
                                <label class="label" for="input">Jenis Pelayanan</label>
                                <p-dropdown [options]="listJenisPelayanan" [(ngModel)]="item.jenispelayanan"
                                    [filter]="true" [showClear]="true" placeholder="jenis pelayanan"
                                    optionLabel="jenispelayanan"></p-dropdown>
                            </div>
                            <div class="p-col-12 p-md-3">
                                <label class="label" for="input">Pelayanan</label>
                                <p-dropdown [options]="listPelayanan" [(ngModel)]="item.pelayanan" [filter]="true"
                                    [showClear]="true" placeholder="pelayanan" optionLabel="namaproduk" (onChange)="getKomponenHarga()">
                                </p-dropdown>
                            </div>
                            <div class="p-col-12 p-md-3">
                                <label class="label" for="input">Harga</label>
                                <input type="text" [(ngModel)]="item.Harga" pInputText placeholder="Harga" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-3">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-4" style="margin-top: 16px;">
                                <button pButton type="button" icon="pi pi-plus" class="p-button p-mr-2"
                                    (click)="simpanMapping()" pTooltip="Simpan" label="Simpan"
                                    [disabled]="isClosing"></button>
                            </div>
                            <div class="p-col-12 p-md-4" style="margin-top: 16px;">
                                <button pButton type="button" icon="pi pi-trash"
                                    class="p-button p-button-danger p-mr-2" (click)="hapusAll()"
                                    pTooltip="Hapus" label="Hapus"></button>
                            </div>
                            <div class="p-col-12 p-md-4" style="margin-top: 16px;">
                                <button pButton type="button" icon="pi pi-refresh"
                                    class="p-button p-button-warning p-mr-2" (click)="batalInput()"
                                    pTooltip="Batal" label="Batal"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-12">
                <p-table [columns]="column" [value]="dataSource" [(selection)]="selectedGrid"
                    styleClass="p-datatable-customers" [rowHover]="true" [rows]="20" [showCurrentPageReport]="true"
                    [rowsPerPageOptions]="[5,10,25,50]" [paginator]="true" scrollable="true" [pageLinks]="5"
                    sortMode="multiple" selectionMode="single">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width: 50px"></th>
                            <th *ngFor="let col of columns" pSortableColumn="{{col.field}}"
                                style="width: {{col.width}}">
                                {{col.header}}
                                <p-sortIcon field="{{col.field}}">
                                </p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr>
                            <td style="width: 50px">
                                <button pButton type="button" icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger p-mr-2" pTooltip="Hapus " label=""
                                    (click)="hapusRow(rowData)"></button>
                            </td>
                            <td *ngFor="let column of columns" style="width: {{column.width}}">
                                {{rowData[column.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>