@media screen and (min-width: 695px){

.banner {
    background: transparent url(/assets/img/home-v2/webp/home-banner-v3.webp) no-repeat;
    background-size: cover;
}
}
.banner{
    background-color: #f5f8fc;
    background-size: cover;
    padding: 20px 0 0 20px;
    height: 450px;
}
.banner .banner--layout {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.banner .banner--layout__title {
    font-size: 34px;
    line-height: 36px;
    color: #333;
    font-weight: 700;
}
.banner .banner--layout__description {
    margin-top: 15px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: .15px;
    color: #53565a;
}.overview-box.white {
    background: #FFFFFF;
    color: rgba(41, 50, 65, 0.8);
}
.card:last-child {
    margin-bottom: 0;
}
.overview-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 24px;
    height: 100%;
    min-width: 200px;
}
.card {
    background: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 10px 40px rgb(41 50 65 / 6%);
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    margin-bottom: 2rem;
}
.overview-box.white {
    background: #FFFFFF;
    color: rgba(41, 50, 65, 0.8);
}
.overview-box.gray {
    background: rgba(41, 50, 65, 0.4);
    color: #FFFFFF;
}
.card:last-child {
    margin-bottom: 0;
}
.overview-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 24px;
    height: 100%;
    min-width: 200px;
}
.overview-box.darkgray {
    background: rgba(41, 50, 65, 0.8);
    color: #FFFFFF;
}
.overview-box.orange {
    background: linear-gradient(
90deg, #FFB340 0%, #FFA740 100%);
    color: #FFFFFF;
}
.notification {
    padding: 30px 24px;
    background-color: #ffffff;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.notification > h6 {
    margin: 0;
    color: rgba(41, 50, 65, 0.8);
}
.overview-box.blue {
    background: #69B7FF;
    color: #FFFFFF;
}